################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/jw-fapp-producthandler01
/.vs/ProductHandlerCode
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
